html,
        body {
            margin: 0%;
            background-color:
                /*#fff*/
                #FBFBFB;
        }

        body * {
            font-family: 'Blinker', sans-serif;
        }

        .header{
            min-height: 700px;
            background-image: url('crossfit-534615_960_720.jpg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            /*upto here: header 700px height, having an img as bg, this img is centered horizentally and vertically inside the header, this img is not repeated inside the header, this img should be cropped either vertically or horizentally so that no empty space remains inside the element*/
            background-attachment: fixed;
            /*this property along with the same one in the quote class
            will give the feeling that we scroll and contents of the page are flowing over the img*/
        }

        .naviga {
            height: 100px;
            opacity: 0.7;
            background-color: #222;
            color: #fff;
            text-align: right;
            padding-top: 12px;
        }

        .naviga a {
            text-decoration: none;
            cursor: pointer;
            font-size: 25px;
            padding-left: 20px;
            padding-right: 20px;
        }

        h1 {
            font-weight: bolder;
            font-size: 70px;
            text-align: right;
            color: #606060;
            margin-top: 80px;
            margin-right: 5%;
            font-family: 'Special Elite', cursive;
        }

        .button {
            text-decoration: none;
            background-color: #606060;
            border: 1px solid #606060;
            color: #fff;
            font-size: 30px;
            padding: 10px;
            padding-right: 5%;
            float: right;
            clear: both;
            opacity: 0.8;
            margin-right: 0px;
        }


        .welcome {
            width: 60%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5%;;
            margin-bottom: 5%;
            padding:1%;padding-top:2%;padding-bottom:2%;
            text-align:center;
            color: #404040;/*
            border:1px solid black;*/
        }

        .welcome h2 {
            font-size: 60px;
            font-weight: bolder;
            font-family: 'Special Elite', cursive;
        }

        .welcome p {
            font-size: 23px;
            line-height: 38px;
            word-spacing:4px;
        }

        .information {
            /*background-color: #f6f6f6;
                /*#DADADA*/

            color: #404040;
            text-align: center;
            padding-top: 80px;
            padding-bottom: 100px;
        }

        .information h2 {
            height: 100px;
            line-height: 100px;
            background-color: #222;
            color: #fff;
            opacity: 0.7;
            font-size: 60px;
            font-weight: bolder;
            font-family: 'Special Elite', cursive;
        }

        .information .options-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .information .options-container .option {
            width: 250px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom:80px;
        }

        .information .options-container .option .option-img-height-keeper {
            /*this class is used to align the option pictures in the same height*/
            min-height: 120px;
            max-height: 120px;
            height: 120px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .information .options-container .option .option-img {
            /* NO NEED FOR THESE ... I'M USING IMG TAG NOW
            background-image: url('biceps.png');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;*/
            border-radius: 50%;
            margin-left: auto;
            margin-right: auto;
            cursor: pointer;
            box-shadow: 10px 5px 20px;
        }

        .information .options-container .option .small {
            height: 60px;
            width: 60px;
        }

        .information .options-container .option .midium {
            height: 80px;
            width: 80px;
        }

        .information .options-container .option .large {
            height: 100px;
            width: 100px;
        }

        .information .options-container .option .option-text-height-keeper {
            /*this class is used to align the option pictures in the same height*/
            min-height: 340px;
            max-height: 340px;
            height: 340px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom:12%;
        }

        .information .options-container .option p {
            font-size: 20px;
            line-height: 30px;
        }

        .information .options-container .option a {
            font-size: 18px;
                height: 32px;
                line-height: 32px;
                padding: 12px;
                padding-left: 17px;
                padding-right: 17px;
            text-decoration: none;
            background-color:  #222;
            color: #fff;
            opacity: 0.7;
            cursor: pointer;
            transition-duration: 1.2s;
            border: 1px solid transparent;
            font-family: 'Special Elite', cursive;
        }

        .information .options-container .option a:hover {
            transition-duration: 0.3s;
            color: #222;
            background-color: #fff;
            border: 1px solid #222;
        }

        .quote {
            height: 800px;
            background-image: url('crossfit-534615_960_720.jpg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            /*upto here: header 700px height, having an img as bg, this img is centered horizentally and vertically inside the header, this img is not repeated inside the header, this img should be cropped either vertically or horizentally so that no empty space remains inside the element*/            
            background-attachment: fixed;
            /*this property along with the same one in the header class
            will give the feeling that we scroll and contents of the page are flowing over the img*/
        position:relative;/*relative position so that we can position its child footer in its bottom*/
           text-align:right;
    }

        .quote .quote-text-container {
            opacity: 0.7;
            background-color: #222;
            color: #fff;
            height: auto;      
            padding-right:1%;   padding-top:8%;padding-bottom:8%;
            /*the following is used to position the text in the begining of the img always even if the img get smaller and cannot fill the background color*/       
            position:absolute; top:0%;right:0%;left:0%;                
        }

        .quote .quote-text-container .quote-text {
            font-size: 60px;
            text-align: right;
            font-family: 'Special Elite', cursive;
        }

        .quote .quote-text-container .quote-person {
            font-size: 25px;
            text-align: right;
        }

        .quote .footer {
            font-size: 20px;
            padding-top:2%;padding-bottom:2%;
            opacity: 0.7;
            background-color: #222;
            color: #fff;
            text-align: center;
            margin-top:auto;
                position:absolute; bottom:0px;
                width:100%;
        }



        /*FOR HEADER RESPONSIVENESS*/
        @media screen and (max-width: 1000px) {
            .header {
                min-height: 500px;
            }    
            .naviga {
                height: 60px;
                padding-top: 10px;
            }    
            .naviga a {
                font-size: 22px;
                padding-left: 15px;
                padding-right: 15px;
            }    
            h1 {
                font-size: 45px;
                margin-top: 50px;
            }    
            .button {
                font-size: 23px;
                padding-top: 6px;
                padding-bottom: 6px;
                /*
                padding-right: 30px;*/
            }            
        }
        @media screen and (max-width: 870px){
            /*From this size: the header bg img won't be displayed fully in the horizental axis. So we are going to force it to be displayed by making it contained inside the header and  positionning it in the top left of the header*/
            .header {     
                background-size:contain;           
                background-position: 0 0;    
            }             
        }
        @media screen and (max-width: 600px) {
            .header {
                min-height: 320px;
            }    
            .naviga {
                height: 45px;
                padding-top: 7px;
            }    
            .naviga a {
                font-size: 20px;
                padding-left: 12px;
                padding-right: 12px;
            }    
            h1 {
                font-size: 38px;
                margin-top: 40px;
            }    
            .button {
                font-size: 19px;
                padding-top: 6px;
                padding-bottom: 6px;/*
                padding-right: 26px;*/
            }
        }
        @media screen and (max-width: 400px) {
            .header {
                min-height: 380px;
            }    
            .naviga {
                height: 30px;
                padding-top: 5px;
            }    
            .naviga a {
                font-size: 15px;
                padding-left: 8px;
                padding-right: 8px;
            }    
            h1 {
                font-size: 25px;
                margin-top: 10px;
            }    
            .button {
                font-size: 15px;
                padding-top: 6px;
                padding-bottom: 6px;/*
                padding-right: 10px;*/
            }
        }
        @media screen and (max-width: 229px){
            .header {
                background-image: none;
            } 
        }



        /*FOR QUOTE AND FOOTER RESPONSIVENESS*/
        @media screen and (max-width: 1000px){
            /*CHANGING BG IMG SIZE AND FONTS SIZE*/
            .quote {
                min-height: 500px;
                max-height: 500px; 
            }   
            .quote .quote-text-container .quote-text {
                font-size: 45px;
            }    
            .quote .quote-text-container .quote-person {
                font-size: 20px;
            }    
            .quote .footer {
                font-size: 18px;
            }
        }
        @media screen and (max-width: 870px){
            .quote {     
                /*when the bg img is getting bigger we'll show the right part of it*/   
                background-position: right;    
            }
        }
        @media screen and (max-width: 700px){
            /*CHANGING FONT SIZE ONLY*/
            .quote .quote-text-container .quote-text {
                font-size: 35px;
            }    
            .quote .quote-text-container .quote-person {
                font-size: 15px;
            }    
            .quote .footer {
                font-size: 15px;
            }
        }
        @media screen and (max-width: 550px){
            /*CHANGING THE BG IMG HEIGHT ONLY*/
            .quote {
                min-height: 400px;
                max-height: 400px; 
            }   
            .quote .quote-text-container .quote-text {
                font-size: 28px;
            }  
        }
        @media screen and (max-width: 350px){
            /*CHANGING FONT SIZE ONLY*/
            .quote {
                min-height: 300px;
                max-height: 300px; 
            }
            .quote .quote-text-container .quote-text {
                font-size: 23px;
            }    
            .quote .quote-text-container .quote-person {
                font-size: 12px;
            }    
            .quote .footer {
                font-size: 12px;
            }
        }
        @media screen and (max-width: 285px){
            /*CHANGING FONT SIZE ONLY*/
            .quote .quote-text-container .quote-text {
                font-size: 20px;
            }    
        }


        /*FOR WELCOME AREA RESPONSIVENESS*/
        @media screen and (max-width: 1000px){
            .welcome{
                width:70%;
            }
            .welcome h2 {
                font-size: 45px;
            }
            .welcome p {
                font-size: 20px;
                line-height: 32px;
                word-spacing:4px;
            }
        }
        @media screen and (max-width: 600px){
            .welcome h2 {
                font-size: 38px;
            }
            .welcome p {
                font-size: 19px;
                line-height: 30px;
                word-spacing:4px;
            }
        }
        @media screen and (max-width: 400px){
            .welcome{
                width:80%;
            }
            .welcome h2 {
                font-size: 25px;
            }
            .welcome p {
                font-size: 17px;
                line-height: 27px;
                word-spacing:3px;
            }
        }
        @media screen and (max-width: 250px){
            .welcome{
                width:90%;
            }
        }
        
        /*FOR INFORMATION AREA RESPONSIVENESS*/
        @media screen and (max-width: 1000px){
            .information h2 {
                font-size: 45px;
            }
            .information .options-container .option .option-img-height-keeper {
                min-height: 100px;
                max-height: 100px;
                height: 100px;
            }
            .information .options-container .option .small {
                height: 55px;
                width: 55px;
            }
            .information .options-container .option .midium {
                height: 75px;
                width: 75px;
            }    
            .information .options-container .option .large {
                height: 95px;
                width: 95px;
            }
            .information .options-container .option .option-text-height-keeper {
                /*this class is used to align the option pictures in the same height*/
                min-height: 300px;
                max-height: 300px;
                height: 300px;
            }
            .information .options-container .option p {
                font-size: 20px;
                line-height: 32px;
                word-spacing:4px;
            }
        }
        @media screen and (max-width: 600px){
            .information h2 {
                font-size: 38px;
            }
            .information .options-container .option .option-img-height-keeper {
                min-height: 90px;
                max-height: 90px;
                height: 90px;
            }
            .information .options-container .option .small {
                height: 50px;
                width: 50px;
            }
            .information .options-container .option .midium {
                height: 70px;
                width: 70px;
            }    
            .information .options-container .option .large {
                height: 90px;
                width: 90px;
            }
            .information .options-container .option .option-text-height-keeper {
                /*this class is used to align the option pictures in the same height*/
                min-height: 280px;
                max-height: 280px;
                height: 280px;
            }
            .information .options-container .option p {
                font-size: 19px;
                line-height: 30px;
                word-spacing:4px;
            }
            .information .options-container .option a {
                font-size: 18px;
                height: 32px;
                line-height: 32px;
                padding: 12px;
                padding-left: 17px;
                padding-right: 17px;
            }
        }
        @media screen and (max-width: 400px){
            .information h2 {
                font-size: 25px;
            }
            .information .options-container .option .option-img-height-keeper {
                min-height: 85px;
                max-height: 85px;
                height: 85px;
            }
            .information .options-container .option .small {
                height: 45px;
                width: 45px;
            }
            .information .options-container .option .midium {
                height: 65px;
                width: 65px;
            }    
            .information .options-container .option .large {
                height: 85px;
                width: 85px;
            }
            .information .options-container .option .option-text-height-keeper {
                /*this class is used to align the option pictures in the same height*/
                min-height: 260px;
                max-height: 260px;
                height: 260px;
            }
            .information .options-container .option p {
                font-size: 17px;
                line-height: 27px;
                word-spacing:3px;
            }
            .information .options-container .option a {
                font-size: 15px;
                height: 30px;
                line-height: 30px;
                padding: 10px;
                padding-left: 15px;
                padding-right: 15px;
            }
        }


        
